html,
body {
    height: 100vh;
    background-img: './img/';
}
#root {
    /*background-color: #ff9933;*/
    /*background-image: url('./img/denim.jpg');*/
    background-image: url('https://github.com/cwilliamson29/top-cv-project-hooks/blob/0bdd7365eec258c32eb0ad51e7dd78a9dd2dc41c/src/img/denim.jpg');
    background-position: center;
    background-repeat: repeat;
}

@font-face {
    font-family: 'customfont';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://fonts.gstatic.com/s/specialelite/v18/XLYgIZbkc4JPUL5CVArUVL0ntnAOSA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.fill {
    min-height: 100vh;
    height: 100vh;
}

.label-right {
    justify-content: flex-end;
}

.fc {
    font-family: 'Russo One';
}

.ml-c25 {
    margin-left: 25px;
}

.fi {
    font-style: italic;
}
.fb {
    font-weight: bolder;
}
.bg-clight {
    background-color: lightgray;
}
